ion-button{
    width: 5em;
    height: 5em;
    padding: 0em;
    margin: 0.15em;
    font-size: 1.02em;
    font-weight: bold;
    
}


ion-input{
    margin-right: 1.02em;
    text-align: right;
    font-size: 2em;
    font-weight: bolder;
    padding-right: 1em;
    
  
}


table{
    margin-top: 5.3em;
}

